$red: #ff0000;
$aqua: #22f8b9;
$black: #000000;
$blue: #0000ff;
$grey: #d7d7d7;
$white: #ffffff;

$max-desktop : 'max-width: 992px';
$max-tablet  : 'max-width: 768px';
$max-phone   : 'max-width: 576px';

$font: 'Marvel';
